*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
.fixd-width{
    width: 1000px;
    margin: auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header-section */
.header{
    background-image: url(https://i.postimg.cc/bJYRtMf1/header-bg.png);
    background-position:top center;
    background-size:cover;
    padding: 80px 0;
}
.header-content{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}
 h4 {
    font-size: 37px;
    font-weight: 300;  
}
.header-content h1 {
    font-size: 55px;
    color: #ef5777;
    font-weight: 700;
    padding: 10px 0;
}
 p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #86898a;
    line-height: 30.5px;
}
.btn {
    padding: 15px 50px;
    font-size: 20px;
    background: #EF5777;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.header-img{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}
/* biography */
.biography{
    background-image: url(https://i.postimg.cc/9MHb1pwQ/biography-bg.png);
    background-position:top center;
    background-size:cover;
    padding: 80px 0;
}
.bio-img{
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}
.bio-content{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    margin-left: 5%;
}
.bio-content p{
    padding-top: 15px;
}

/* latest-work */
.latest-work{
    background-image: url(https://i.postimg.cc/g0BVTbSs/latest-work-bg.png);
    background-position:top center;
    background-size:cover;
    padding: 80px 0;
    text-align: center;
}
.latest-work h4 {
    padding-bottom: 56px ;
}
.div1 {
    display: inline-block;
    width: 30%;
    margin-left: 2%;
}
.div2{
    display: inline-block;
    width: 30%;
    margin-left: 2%;
}
.div3{
    display: inline-block;
    width: 30%;
    margin-left: 2%;
}
/* Client rivew */
.rivew{
    background-image: url(https://i.postimg.cc/qvvQbwBk/footer-bg.png);
    background-position:center center;
    background-size:cover;
    padding: 80px 0;
    text-align: center
}
.content h4 {
    padding: 25px 0;
    font-size: 35px;
}
.content h6 {
    font-size: 17px;
    font-weight: 200;
}
.p::after {
    content: '"';
    top: 69px;
    left: 359px;
    display: inline-block;
    position: absolute;
}
.p::before {
    content: '"';
    top: 37px;
    left: 12px;
    position: absolute;
    display: inline-block;
}
.p p{
    color: rgb(81, 78, 78);
}
.p {
    width: 360px;
    margin: auto;
    font-size: 25px;
    padding: 35px 0;
    position: relative;
    color: rgb(81, 78, 78);
}
.bton p {
    color: white;
}
.bton h4 {
    color: white;
}
.bton {
    display: inline-block;
    background-color: #ef5777;
    padding: 20px 60px;
    border-radius: 10px;
}
/* footer */
.footer{
    padding: 40px 0;
    text-align: center;
   
}
.footer p{
    display: inline-block;
    color: #86898a;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
}